In [ ]:

# This function imports the `fetch_movie_data` function from the
# movie_analysis module and uses it to retrieve movie data
# from the TMDb API using a list of movie IDs.

from movie_analysis import fetch_movie_data, api_key, clean_basic_movie_data




# The function sends requests to TMDb API and returns a DataFrame

df = fetch_movie_data(movie_ids, api_key)

# ----------------------------------------------
# Preview the First Few Rows of the DataFrame

# Clean and preprocess the data
#df_cleaned = clean_basic_movie_data(df)

df.head()

 Movie ID 0 not found. Status: 404

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,origin_country,original_language,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,credits
0,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,[US],en,...,2799439100,181,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Avenge the fallen.,Avengers: Endgame,False,8.237,26245,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
1,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.avatar.com/movies/avatar,19995,tt0499549,[US],en,...,2923706026,162,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Enter the world of Pandora.,Avatar,False,7.588,32158,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
2,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,[US],en,...,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.261,19689,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
3,False,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.marvel.com/movies/avengers-infinit...,299536,tt4154756,[US],en,...,2052415039,149,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Destiny arrives all the same.,Avengers: Infinity War,False,8.235,30429,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
4,False,/sCzcYW9h55WcesOqA12cgEr9Exw.jpg,None,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",https://www.paramountmovies.com/movies/titanic,597,tt0120338,[US],en,...,2264162353,194,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Nothing on Earth could come between them.,Titanic,False,7.900,25907,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."

In [24]:
df_cleaned = clean_basic_movie_data(df)
df_cleaned.head(2)

,backdrop_path,belongs_to_collection,budget,genres,id,origin_country,original_language,overview,popularity,poster_path,...,production_countries,release_date,revenue,runtime,spoken_languages,tagline,title,vote_average,vote_count,credits
0,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,NaN,0.000356,NaN,299534,[US],en,After the devastating events of Avengers: Infi...,31.4799,/ulzhLuWrPK07P1YkdWQLZnQh1JL.jpg,...,NaN,2019-04-24,0.002799,181,NaN,Avenge the fallen.,Avengers: Endgame,8.237,26245,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
1,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,NaN,0.000237,NaN,19995,[US],en,"In the 22nd century, a paraplegic Marine is di...",31.6851,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,...,NaN,2009-12-15,0.002924,162,NaN,Enter the world of Pandora.,Avatar,7.588,32158,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."

In [31]:
# from movie_analysis import generate_visualizations

In [ ]:
from movie_analysis import generate_visualizations


plot_charts = generate_visualizations(df_cleaned)
plot_charts

In [21]:
import importlib
import movie_analysis  # import first
importlib.reload(movie_analysis)  #  reload to force update

# ============================================
# Run the full data cleaning pipeline on the movie DataFrame
# Applies all cleaning steps: drop columns, extract fields,
# handle data types, fix anomalies, and filter rows
# ============================================

from movie_analysis import clean_basic_movie_data

df_cleaned = clean_basic_movie_data(df)

# Preview the cleaned DataFrame
df_cleaned.head(2)

,backdrop_path,belongs_to_collection,budget,genres,id,origin_country,original_language,overview,popularity,poster_path,...,production_countries,release_date,revenue,runtime,spoken_languages,tagline,title,vote_average,vote_count,credits
0,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,NaN,0.000356,NaN,299534,[US],en,After the devastating events of Avengers: Infi...,31.4799,/ulzhLuWrPK07P1YkdWQLZnQh1JL.jpg,...,NaN,2019-04-24,0.002799,181,NaN,Avenge the fallen.,Avengers: Endgame,8.237,26245,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
1,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,NaN,0.000237,NaN,19995,[US],en,"In the 22nd century, a paraplegic Marine is di...",31.6851,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,...,NaN,2009-12-15,0.002924,162,NaN,Enter the world of Pandora.,Avatar,7.588,32158,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."

In [14]:
import importlib
import movie_analysis  # import first
importlib.reload(movie_analysis)  #  reload to force update
from movie_analysis import extract_credits_fields

df = extract_credits_fields(df)
df.head(2)

 Movie ID 0 not found. Status: 404
                      backdrop_path    belongs_to_collection  budget
0  /7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg  The Avengers Collection   356.0  \
1  /vL5LR6WdxWPjLPFRLe133jXWsh5.jpg        Avatar Collection   237.0

                                     genres      id origin_country
0          Adventure|Science Fiction|Action  299534           [US]  \
1  Action|Adventure|Fantasy|Science Fiction   19995           [US]

  original_language                                           overview
0                en  After the devastating events of Avengers: Infi...  \
1                en  In the 22nd century, a paraplegic Marine is di...

   popularity                       poster_path  ...
0     31.4799  /ulzhLuWrPK07P1YkdWQLZnQh1JL.jpg  ...  \
1     31.6851  /kyeqWdyUXW608qlYkRqosgbbJyK.jpg  ...

                      production_countries release_date      revenue  runtime
0                 United States of America   2019-04-24  2799.439100      181  \
1  United States of America|United Kingdom   2009-12-15  2923.706026      162

         spoken_languages                      tagline              title
0  English|Japanese|Xhosa           Avenge the fallen.  Avengers: Endgame  \
1         English|Spanish  Enter the world of Pandora.             Avatar

  vote_average  vote_count                                            credits
0        8.237       26245  {'cast': [{'adult': False, 'gender': 2, 'id': ...
1        7.588       32158  {'cast': [{'adult': False, 'gender': 2, 'id': ...

[2 rows x 21 columns]

,backdrop_path,belongs_to_collection,budget,genres,id,origin_country,original_language,overview,popularity,poster_path,...,runtime,spoken_languages,tagline,title,vote_average,vote_count,main_cast,cast_size,crew_size,director
0,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,NaN,0.000356,NaN,299534,[US],en,After the devastating events of Avengers: Infi...,31.4799,/ulzhLuWrPK07P1YkdWQLZnQh1JL.jpg,...,181,NaN,Avenge the fallen.,Avengers: Endgame,8.237,26245,"Robert Downey Jr., Chris Evans, Mark Ruffalo",105,593,Anthony Russo
1,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,NaN,0.000237,NaN,19995,[US],en,"In the 22nd century, a paraplegic Marine is di...",31.6851,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,...,162,NaN,Enter the world of Pandora.,Avatar,7.588,32158,"Sam Worthington, Zoe SaldaÃ±a, Sigourney Weaver",65,986,James Cameron

In [16]:
df["genres"]

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
Name: genres, dtype: float64

In [ ]:
import importlib
import movie_analysis  # Make sure this is the correct filename (no .py extension)
importlib.reload(movie_analysis)  # Reload in case you edited the file

from movie_analysis import (
    rank_movies,
    
)
# Run ranking function to get all top/bottom stats
kpi_results = rank_movies(df)

# View highest rated movies (with â‰¥10 votes)
#kpi_results['highest_rated']

# View lowest profit movies
#kpi_results['lowest_profit']

# View highest ROI (budget â‰¥ 10M)
#kpi_results['highest_roi']

# Search 1: Bruce Willis in Sci-Fi + Action movies
search_movies(df, actor="Bruce Willis", genres=["Science Fiction", "Action"])

# Search 2: Uma Thurman, directed by Quentin Tarantino
search_movies(df, actor="Uma Thurman", director="Quentin Tarantino", sort_by="runtime")

 Movie ID 0 not found. Status: 404
                      backdrop_path    belongs_to_collection  budget
0  /7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg  The Avengers Collection   356.0  \
1  /vL5LR6WdxWPjLPFRLe133jXWsh5.jpg        Avatar Collection   237.0

                                     genres      id origin_country
0          Adventure|Science Fiction|Action  299534           [US]  \
1  Action|Adventure|Fantasy|Science Fiction   19995           [US]

  original_language                                           overview
0                en  After the devastating events of Avengers: Infi...  \
1                en  In the 22nd century, a paraplegic Marine is di...

   popularity                       poster_path  ...
0     31.4799  /ulzhLuWrPK07P1YkdWQLZnQh1JL.jpg  ...  \
1     31.6851  /kyeqWdyUXW608qlYkRqosgbbJyK.jpg  ...

                      production_countries release_date      revenue  runtime
0                 United States of America   2019-04-24  2799.439100      181  \
1  United States of America|United Kingdom   2009-12-15  2923.706026      162

         spoken_languages                      tagline              title
0  English|Japanese|Xhosa           Avenge the fallen.  Avengers: Endgame  \
1         English|Spanish  Enter the world of Pandora.             Avatar

  vote_average  vote_count                                            credits
0        8.237       26245  {'cast': [{'adult': False, 'gender': 2, 'id': ...
1        7.588       32158  {'cast': [{'adult': False, 'gender': 2, 'id': ...

[2 rows x 21 columns]

ImportError: cannot import name 'search_movies' from 'movie_analysis' (c:\Users\USER\Desktop\Amasah\Amalitech\Movie_Data_Analysis\notebook\movie_analysis.py)

In [ ]:
analyze_franchise_vs_standalone(df_f)

NameError: name 'search_movies' is not defined

In [8]:
import importlib
import movie_analysis  # Make sure this is the correct filename (no .py extension)
importlib.reload(movie_analysis)  # Reload in case you edited the file

from movie_analysis import generate_visualizations

generate_visualizations(df_cleaned)

 Movie ID 0 not found. Status: 404
                      backdrop_path    belongs_to_collection  budget
0  /7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg  The Avengers Collection   356.0  \
1  /vL5LR6WdxWPjLPFRLe133jXWsh5.jpg        Avatar Collection   237.0

                                     genres      id origin_country
0          Adventure|Science Fiction|Action  299534           [US]  \
1  Action|Adventure|Fantasy|Science Fiction   19995           [US]

  original_language                                           overview
0                en  After the devastating events of Avengers: Infi...  \
1                en  In the 22nd century, a paraplegic Marine is di...

   popularity                       poster_path  ...
0     31.4799  /ulzhLuWrPK07P1YkdWQLZnQh1JL.jpg  ...  \
1     31.6851  /kyeqWdyUXW608qlYkRqosgbbJyK.jpg  ...

                      production_countries release_date      revenue  runtime
0                 United States of America   2019-04-24  2799.439100      181  \
1  United States of America|United Kingdom   2009-12-15  2923.706026      162

         spoken_languages                      tagline              title
0  English|Japanese|Xhosa           Avenge the fallen.  Avengers: Endgame  \
1         English|Spanish  Enter the world of Pandora.             Avatar

  vote_average  vote_count                                            credits
0        8.237       26245  {'cast': [{'adult': False, 'gender': 2, 'id': ...
1        7.588       32158  {'cast': [{'adult': False, 'gender': 2, 'id': ...

[2 rows x 21 columns]

NameError: name 'df_cleaned' is not defined